body {
    padding: 6px;
    overflow: hidden;
}

#content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
}

#lyrics-container {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lyrics {
    font-family: sans-serif;
    font-size: 36pt;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    
    padding: 16px;

    position: absolute;
}

.lyrics:nth-child(2) {
    opacity: 0;
    z-index: -1;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: auto;
}

.title {
    width: fit-content;
    font-size: 36pt;
    color: white;
    padding: 8px;  
    background: rgba(0, 0, 0, 0.5);
}